*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: PopRegular;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: PopMedium;
    src: url(./fonts/Poppins-Medium.ttf);
}

body {
    font-family: PopLight;
}

.portofolio {
    color: white;
    background: radial-gradient(rgb(43, 55, 96), rgb(11, 16, 35));
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 20px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.chef,
.hairstyle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img {
    height: 500px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.hero a {
    display: flex;
}

.model-left {
    transform: translate(0, -10%);
}

.model-right {
    transform: translate(0, 10%);
}

.hero:hover .model-right,
.hero:hover .model-left {
    transform: translate(0, 0);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 64px;
    font-family: PopRegular;
}

.details h2 {
    font-size: 42px;
    padding: 20px 0;
}

.details p {
    font-size: 24px;
    padding: 20px 0 50px 0;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3 {
    font-size: 24px;
    padding: 30px;
}

.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}

.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(4);
    }
}

.banner {
    height: 50vh;
    width: 100%;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.author {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.author h1 {
    font-size: 42px;
}

.author h3 {
    padding: 10px 0;
    font-size: 32px;
}

.story,
.my-work {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.story-description,
.work-description {
    width: 50%;
}

.story-description h3,
.work-description h3 {
    font-size: 36px;
    padding-bottom: 30px;
}
.story-description p,
.work-description p {
    font-size: 20px;
    padding: 20px 0;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.work-gallery img {
    width: 100%;
}

@media (max-width: 1024px) {
    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }
    .hero {
        grid-column: 2/3;
        height: auto;
    }
    .hero img {
        height: 500px;
    }
    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }
    .details h1 {
        font-size: 48px;
    }
    .details h2 {
        font-size: 38px;
    }
    .story,
    .my-work {
        flex-direction: column;
    }

    .story-description,
    .work-description {
        width: 100%;
    }

    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .profile {
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .page {
        grid-template-rows: 2fr 1fr;
    }

    .hero img {
        height: 300px;
    }
    .details h1 {
        font-size: 38px;
    }
    .details h2 {
        font-size: 28px;
    }

    .profile {
        width: 100%;
    }

    .profile img {
        width: 80%;
    }
}

.nav-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}

.contact {
    grid-column: 2/3;
}

.nav-open h3 {
    font-size: 28px;
    padding-bottom: 40px;
}

.nav-open p {
    font-size: 18px;
}
.social-links img {
    padding: 0 20px;
}

.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
}

.line2 {
    stroke-dasharray: 28px;
}
