* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Heebo", sans-serif;
}

.landing {
    min-height: 100vh;
    background: url("./hero.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
}

#logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.big-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: #020f17;
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: rgb(223, 223, 223);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.slider {
    background: rgb(110, 120, 124);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    display: inline-block;
    transform: translateY(100%);
}
